/*! TNA Child styles */

@import 'variables';
@import 'global';

#calls-to-action {
  .cards {
    .card {
      h2 {
        font-size: 1.3em;
        min-height: 70px;
      }
    }
  }
}

#hwyr-toolbar-search {
  input[type=submit] {
    color: transparent;
  }
}

.entry-content-heading {
  border-top: $border-top;
  padding-top: 10px;
  margin-top: 0;
  font-size: 1.3em;
  font-family: "Roboto Mono", monospace;
}